@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 221 43% 93%;
    --foreground: 221 25% 25%;
    --card: 221 43% 98%;
    --card-foreground: 221 25% 25%;
    --popover: 221 43% 98%;
    --popover-foreground: 221 25% 25%;
    --primary: 221 44% 41%;
    --primary-foreground: 221 43% 95%;
    --secondary: 221 30% 85%;
    --secondary-foreground: 221 44% 31%;
    --muted: 221 30% 88%;
    --muted-foreground: 221 20% 55%;
    --accent: 300 19% 35%;
    --accent-foreground: 300 19% 95%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 221 25% 80%;
    --input: 221 25% 85%;
    --ring: 221 44% 41%;
    --radius: 0.5rem;
    --chart-1: 221 44% 41%;
    --chart-2: 300 19% 35%;
    --chart-3: 221 30% 65%;
    --chart-4: 300 19% 55%;
    --chart-5: 221 44% 61%;
  }

  .dark {
    --background: 221 25% 15%;
    --foreground: 221 43% 95%;
    --card: 221 25% 20%;
    --card-foreground: 221 43% 95%;
    --popover: 221 25% 15%;
    --popover-foreground: 221 43% 95%;
    --primary: 221 43% 85%;
    --primary-foreground: 221 44% 21%;
    --secondary: 221 25% 30%;
    --secondary-foreground: 221 43% 95%;
    --muted: 221 25% 30%;
    --muted-foreground: 221 20% 65%;
    --accent: 300 19% 75%;
    --accent-foreground: 300 19% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 221 25% 35%;
    --input: 221 25% 30%;
    --ring: 221 43% 85%;
    --chart-1: 221 44% 71%;
    --chart-2: 300 19% 65%;
    --chart-3: 221 30% 55%;
    --chart-4: 300 19% 45%;
    --chart-5: 221 44% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
